/* Style sheet for general testing purposes
DELTA 26.Jun.02017: * Change of Date * Code cleanup
*/

p {
	border: 1px red solid;
	font: normal 22px 'Droid Serif';
	margin: 15px;
}

p.top-small {
	font-size: 18px;
}

#panel {
	background-color: #ff2600;
}