/* Style sheet for general testing purposes
DELTA 27.Jun.02017: * Change of Date * Code cleanup
*/

/*Link color language*/
a:link {
	color: #FCFFF5;
	text-decoration: none;
}
a:visited {
	color: #FCFFF5;
	text-decoration: none;	
}
a:active {
	color: #FCFFF5;
	text-decoration: none;
}
a:hover {
	color: #D1DBBD;
}


/* Structural elements */
body {
	padding: 0;
	margin: 0;
}

#masthead {
	border: 1px solid green;
	/*margin: 15px;*/
}

hgroup {
	position: relative;
}

/* Nav List */
#menu-outer {
	height: 84px;
}

.table {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	border: 1px solid #D5D5D5;
	opacity: 0.5;
    background-color: #91AA9D;
	min-width: 100%;
	list-style: none;
	position: absolute;
	top: 325px;
	left: 0px;
	padding: 25px;
}
	
ul#horizontal-list li {
	border: 1px solid #FCFFF5;
	display: inline;
	margin: 10px;
	padding: 5px;
	font: normal 16px 'Droid Serif';
}

p {
	border: 1px red solid;
	font: normal 18px 'Droid Serif';
	margin: 15px;
	background-color: #d5d5d5;
}

p.top-small {
	font-size: 18px;
}

#panel {
	background-color: #ff2600;
}