/* Style sheet for general testing purposes
DELTA 01.Jul.02017: * Change of Date * Code cleanup
*/

html {
  /*background: url(../images/masthead.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

/* LINK LANGUAGES */
a:link {
	color: #FCFFF5;
	text-decoration: none;
}
a:visited {
	color: #FCFFF5;
	text-decoration: none;	
}
a:active {
	color: #FCFFF5;
	text-decoration: underline;
}
a:hover {
	color: #FCFFF5;
  	text-decoration: underline;
}
/*Page links*/
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #046380;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}

/*Entry links*/
.entry-meta a:hover,
.entry-utility a:hover {
	color: #91AA9D;
	text-decoration:underline;	
}

/*Nav links*/
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}



/* Structural elements */
body {
	padding: 0;
	margin: 0;
	color: #;
}

#masthead {
	/*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
}

hgroup {
	position: relative;
}

img.masthead-img {
	max-width: 100%;
    height: auto;
    width: auto;
    position:absolute;
    overflow-x:hidden;
    overflow-y:hidden;
}

.site_title {
	font: normal 72px 'Droid Serif';
	color: #D1DBBD;	
	letter-spacing: 1.5px;
	float: left;
	margin: 20px 0 0 60px;
	padding: 0;
    position: absolute;
    top: 10px;
}

.tagline_uxd {
	font: italic 28px 'Droid Serif';
	letter-spacing: 3px;
	/*background-color: #193441;*/
	width:400px;
	color: #91AA9D;
	margin: 115px 0 0 0;
	padding: 0 0 0 66px;
    position: absolute;
    top: 70px;
}

/*Search elements*/
#search-Form {
	/*border: 1px solid red;*/
}

#search-box {
    position: absolute;
    top: 100px;
    left: 700px;
    padding: 10px;
	float: none;
}

#search-input {
	border: 1px red solid;
	float: right;
}

input#s {
	font: normal 14px 'Droid Serif';
    border-radius: 50px;
	padding: 5px 0px 5px 15px;
	background: #D1DBBD;
}

input#searchSubmit {
	/*border: 1px black solid;*/
	font: normal 14px 'Droid Serif';
    border-radius: 50px;
	padding: 5px 15px 5px 15px;
}

/* Nav List */
#menu-outer {
	height: 0px;
}

.table {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	border: 1px solid #193441;
	opacity: 0.5;
    background-color: #3E606F;
	min-width: 100%;
	list-style: none;
	position: absolute;
	top: 270px;
	left: 0px;
	padding: 25px 0px 25px 50px;
}
	
ul#horizontal-list li {
	display: inline;
	margin: 10px;
	padding: 5px;
	font: normal 22px 'Droid Serif';
}

p {
	border: 1px red solid;
	font: normal 16px 'Droid Serif';
    line-height: 25px;
	margin: 0px;
    padding: 5px 0px 20px 20px;
	color: #000;
}

topheader {
	font: normal 16px 'Droid Serif';
}

/* POST ITEM specs - Jul.03.02017 */
article {
	border: 5px solid blue;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 50px;
}
h2.entry-title {
	/*border: 1px red solid;*/
	font: normal 64px 'Droid Serif';
	color: #3e606f;
	padding: 0;
	margin: 0;
}
.entry-content p.mytake {
	font: italic 16px/24px "Droid Serif";
	color: #193441;
}
.entry-meta {
	color: #3e606f;
	font: normal 12px 'Droid Serif';
	letter-spacing: 1px;
	margin: 0 0 15px;
	padding: 0;
}

/* END POST ITEM specs */

p.top-small {
	font-size: 18px;
}

#panel {
	background-color: #3E606F;
}

/*When the width of the screen is less than 500 pixels (a.k.a. smartphone), these specs apply.*/
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }

img.masthead-img {
	max-width: 50%;
}

.site_title {
	font: normal 58px 'Droid Serif';
	color: #D1DBBD;	
	letter-spacing: 1.5px;
	float: left;
	margin: 20px 0 0 60px;
	padding: 0;
    position: absolute;
    top: 25px;
}

.tagline_uxd {
	font: italic 22px 'Droid Serif';
	letter-spacing: 3px;
	width:400px;
	color: #91AA9D;
	margin: 100px 0 0 0;
	padding: 0 0 0 66px;
    position: absolute;
    top: 55px;
}

#search-box {
    position: absolute;
    top: 200px;
    left: 100px;
    padding: 10px;
	/*float: none;*/
}

/* POST ITEM specs - Jul.03.02017 */
h2.entry-title {
	/*border: 1px red solid;*/
	font: normal 32px 'Droid Serif';
	color: #3e606f;
	padding: 0;
	margin: 0;
}
/* END POST ITEM specs */

ul#horizontal-list {
	border: 1px solid #193441;
	opacity: 0.5;
    background-color: #3E606F;
	min-width: 100%;
	list-style: none;
	position: absolute;
	top: 270px;
	left: 0px;
	padding: 25px 0px 25px 25px;
}

ul#horizontal-list li {
	display: inline;
	padding: 0px 12px 0px 0px;
	margin: 0;
	font: normal 20px 'Droid Serif';
}



}